@model ResultFeatureDto

<div class="featured section">
    <div class="container">

        <div class="row">


            <div class="col-lg-4">
                <div class="left-image">
                    <img src="@Model.ImageUrl" alt="">
                    <a href="property-details.html"></a>
                </div>
            </div>

            <div class="col-lg-5">

                <div class="section-heading">
                    <h6>| @Model.Title</h6>
                    <h2>@Model.SubTitle</h2>
                </div>

                @await Component.InvokeAsync("_DefaultQuestion")
            </div>



            <div class="col-lg-3">
                <div class="info-table">
                    <ul>
                        <li>
                            <img src="~/VillaAgency-1.0.0/assets/images/info-icon-01.png" alt="" style="max-width: 52px;">
                            <h4>@Model.Square m2<br><span> Toplam Alan</span></h4>
                        </li>
                        <li>
                            <img src="~/VillaAgency-1.0.0/assets/images/info-icon-02.png" alt="" style="max-width: 52px;">
                            <h4>Kontrat Türü<br><span>@Model.Contract </span></h4>
                        </li>
                        <li>
                            <img src="~/VillaAgency-1.0.0/assets/images/info-icon-03.png" alt="" style="max-width: 52px;">
                            <h4>Ödeme Türü<br><span>@Model.Payment</span></h4>
                        </li>
                        <li>
                            <img src="~/VillaAgency-1.0.0/assets/images/info-icon-04.png" alt="" style="max-width: 52px;">
                            <h4>Güvenlik<br><span>@Model.Safety</span></h4>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
</div>