@model List<ResultBannerDto>
@{
    ViewData["Title"] = "Bannerlar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-hover table-bordered">
    @{
        int count = 0;
    }
    <tr>
        <th class="text-dark">#</th>
        <th class="text-dark">Şehir</th>
        <th class="text-dark">Başlık</th>
        <th class="text-dark">İşlemler</th>
    </tr>
    @foreach(var item in Model)
    {
        count++;
        <tr>
            <th class="text-dark">@count</th>
            <td class="text-dark">@item.City</td>
            <td class="text-dark">@item.Title</td>
            <td>
                <button onclick="deleteBanner(this)" id="@item.Id" class="btn btn-outline-danger">Sil</button>
                <a asp-controller="Banner" asp-action="UpdateBanner" asp-route-id="@item.Id" class="btn btn-outline-warning">Güncelle</a>
            </td>
        </tr>
    }
</table>
<a asp-controller="Banner" asp-action="CreateBanner" class="btn btn-outline-dark">Yeni Banner Ekle</a>
<script>
    const deleteBanner = (button) => {
        var id = button.getAttribute("id");
        Swal.fire({
            title: "Silmek İstediğinize Emin misiniz?",
            text: "Bu İşlem Geri Alınamaz!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Evet, sil!",
            cancelButtonText: "Vazgeç"
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/Feature/DeleteFeature/" + id;
            }
        });
    };
</script>