@model List<ResultDealDto>

<div class="section best-deal">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="section-heading">
                    <h6>| En iyi Teklifler</h6>
                    <h2>İstediğiniz Türde En İyi Tekliflere Göz Atın!</h2>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="tabs-content">
                    <div class="row">
                        <div class="nav-wrapper ">
                            <ul class="nav nav-tabs" role="tablist">
                                @{var count = Model[0].Id;}
                                @foreach (var item in Model)
                                {
                                    <li class="nav-item" role="presentation">
                                        <button onclick="@count = @item.Id" class=" @(count == @item.Id ? "nav-link active" : "nav-link")" id="@item.Type-tab" data-bs-toggle="tab" data-bs-target="#@item.Type" type="button" role="tab" aria-controls="@item.Type" aria-selected="@(count == @item.Id ? "true" : "false")">
                                            @item.Type
                                        </button>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="tab-content" id="myTabContent">
                            @{
                                var tabCount = Model[0].Id;
                            }
                            @foreach(var item in Model)
                            {
                                <div class=" @(count == @item.Id ? "tab-pane fade show active" : "tab-pane fade")" id="@item.Type" role="tabpanel" aria-labelledby="@item.Type-tab">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="info-table">
                                                <ul>
                                                    <li>Metrekare Bilgisi <span>@item.Square</span></li>
                                                    <li>Bulunduğu Kat <span>@item.Floor</span></li>
                                                    <li>Oda Sayısı<span>@item.RoomCount</span></li>
                                                    <li>Park Alanı Var mı? <span>@(item.HasParkingArea ? "Var" : "Yok")</span></li>
                                                    <li>Ödeme Türü <span>@item.PaymentType</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <img src="@item.ImageUrl" alt="">
                                        </div>
                                        <div class="col-lg-3">
                                            <h4>@item.Title</h4>
                                            <p>
                                                @item.Description
                                            </p>
                                            <div class="icon-button">
                                                <a href="property-details.html"><i class="fa fa-calendar"></i> Ziyaret Planla</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>